<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//GNUstep//DTD plist 0.9//EN" "http://www.gnustep.org/plist-0_9.xml">
<plist version="0.9">
<dict>
    <key>OCSAclURL</key>
    <string>mysql://{{ DBUSER }}:{{ DBPASS }}@{{ DB_HOST | urlencode }}/{{ DBNAME }}/sogo_acl</string>
    <key>SOGoIMAPServer</key>
    <string>imap://{{ DOVECOT_HOST }}:143/?TLS=YES&amp;tlsVerifyMode=none</string>
    <key>SOGoSieveServer</key>
    <string>sieve://{{ DOVECOT_HOST}}:4190/?TLS=YES&amp;tlsVerifyMode=none</string>
    <key>SOGoSMTPServer</key>
    <string>smtp://{{ POSTFIX_HOST }}:588/?TLS=YES&amp;tlsVerifyMode=none</string>
    <key>SOGoTrustProxyAuthentication</key>
    <string>YES</string>
    <key>SOGoEncryptionKey</key>
    <string>{{RAND_PASS}}</string>
    <key>OCSAdminURL</key>
    <string>mysql://{{ DBUSER }}:{{ DBPASS }}@{{ DB_HOST | urlencode }}/{{ DBNAME }}/sogo_admin</string>
    <key>OCSCacheFolderURL</key>
    <string>mysql://{{ DBUSER }}:{{ DBPASS }}@{{ DB_HOST | urlencode }}/{{ DBNAME }}/sogo_cache_folder</string>
    <key>OCSEMailAlarmsFolderURL</key>
    <string>mysql://{{ DBUSER }}:{{ DBPASS }}@{{ DB_HOST | urlencode }}/{{ DBNAME }}/sogo_alarms_folder</string>
    <key>OCSFolderInfoURL</key>
    <string>mysql://{{ DBUSER }}:{{ DBPASS }}@{{ DB_HOST | urlencode }}/{{ DBNAME }}/sogo_folder_info</string>
    <key>OCSSessionsFolderURL</key>
    <string>mysql://{{ DBUSER }}:{{ DBPASS }}@{{ DB_HOST | urlencode }}/{{ DBNAME }}/sogo_sessions_folder</string>
    <key>OCSStoreURL</key>
    <string>mysql://{{ DBUSER }}:{{ DBPASS }}@{{ DB_HOST | urlencode }}/{{ DBNAME }}/sogo_store</string>
    <key>SOGoProfileURL</key>
    <string>mysql://{{ DBUSER }}:{{ DBPASS }}@{{ DB_HOST | urlencode }}/{{ DBNAME }}/sogo_user_profile</string>
    <key>SOGoTimeZone</key>
    <string>{{TZ}}</string>
    <key>domains</key>
  <dict>
  {% for domain in SQL_DOMAINS %}
    <key>{{ domain.domain }}</key>
    <dict>
      <key>SOGoMailDomain</key>
      <string>{{ domain.domain }}</string>
      <key>SOGoUserSources</key>
      <array>
        <dict>
          <key>MailFieldNames</key>
          <array>
            <string>aliases</string>
            <string>ad_aliases</string>
            <string>ext_acl</string>
          </array>
          <key>KindFieldName</key>
          <string>kind</string>
          <key>DomainFieldName</key>
          <string>domain</string>
          <key>MultipleBookingsFieldName</key>
          <string>multiple_bookings</string>
          <key>listRequiresDot</key>
          <string>NO</string>
          <key>canAuthenticate</key>
          <string>YES</string>
          <key>displayName</key>
          <string>GAL {{ domain.domain }}</string>
          <key>id</key>
          <string>{{ domain.domain }}</string>
          <key>isAddressBook</key>
          <string>{{ domain.gal_status }}</string>
          <key>type</key>
          <string>sql</string>
          <key>userPasswordAlgorithm</key>
          <string>{{ MAILCOW_PASS_SCHEME }}</string>
          <key>prependPasswordScheme</key>
          <string>YES</string>
          <key>viewURL</key>
          <string>mysql://{{ DBUSER }}:{{ DBPASS }}@{{ DB_HOST | urlencode }}/{{ DBNAME }}/_sogo_static_view</string>
        </dict>
        {% if IAM_SETTINGS.authsource == "ldap" and domain.ldap_gal %}
        <dict>
            <key>canAuthenticate</key>
            <string>YES</string>
            <key>id</key>
            <string>{{ domain.domain }}_ldap</string>
            <key>isAddressBook</key>
            <string>"{{ domain.gal_status }}"</string>
            <key>IDFieldName</key>
            <string>mail</string>
            <key>UIDFieldName</key>
            <string>uid</string>
            <key>bindFields</key>
            <array>
                <string>mail</string>
            </array>
            <key>type</key>
            <string>ldap</string>
            <key>bindDN</key>
            <string>{{ IAM_SETTINGS.binddn }}</string>
            <key>bindPassword</key>
            <string>{{ IAM_SETTINGS.bindpass }}</string>
            <key>baseDN</key>
            <string>{{ IAM_SETTINGS.basedn }}</string>
            <key>hostname</key>
            <string>{{ IAM_SETTINGS.ldap_url }}</string>
        </dict>
        {% endif%}
      </array>
    </dict>
  {% endfor %}
  </dict>
</dict>
</plist>