listen ${HTTPS_PORT} ssl;
listen [::]:${HTTPS_PORT} ssl;
http2 on;

listen ${HTTPS_PORT} quic reuseport; # reuseport should only be specified once per port
listen [::]:${HTTPS_PORT} quic reuseport; # reuseport should only be specified once per port
http3 on;
quic_retry on;
add_header Alt-Svc 'h3=":${HTTPS_PORT}"; ma=86400';
