.pagination a {
  text-decoration: none !important;
}
.panel.panel-default {
  overflow: visible !important;
}
.table-responsive {
  overflow: visible !important;
}
@media screen and (max-width: 767px) {
  .table-responsive {
    overflow-x: scroll !important;
  }
}
.footer-add-item {
  display:block;
  text-align: center;
  font-style: italic;
  padding: 10px;
  background: #F5F5F5;
}
.mass-actions-user {
  user-select: none;
  padding:10px 0 10px 0;
}
.inputMissingAttr {
  border-color: #FF4136;
}
.rotate {
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.rotate.animation {
  -ms-transform:rotateX(180deg);
  -moz-transform:rotateX(180deg);
  -webkit-transform:rotateX(180deg);
  transform:rotateX(180deg);
}
#sender_acl_disabled {
  display:none;
  margin-top:10px;
}
