<?php

// By default this plugin stores attachments in filesystem
// and copies them into sql database.
// In environments with replicated database it is possible
// to use memcache as a fallback when write-master is unavailable.
// ------------------------------------------------------------
// WARNING: Remember to also set memcache_max_allowed_packet in
//          config to match with expected max attachment size.
// ------------------------------------------------------------
$config['redundant_attachments_memcache'] = false;

// Attachment data expires after specified TTL time in seconds (max.2592000).
// Default is 12 hours.
$config['redundant_attachments_cache_ttl'] = 12 * 60 * 60;

?>
