<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="/includes/links.html" />
<script type="text/javascript" src="/functions.js"></script>
</head>
<body class="iframe">

<div id="folder-title" class="boxtitle"><roundcube:label name="folderproperties" /></div>

<div id="folder-details" class="boxcontent">
  <roundcube:object name="folderdetails" />
  <div id="formfooter">
    <div class="footerleft">
      <roundcube:if condition="!strlen(request:_mbox)" />
        <input type="button" value="<roundcube:label name="cancel" />" class="button" onclick="history.back()" />&nbsp;
      <roundcube:endif />
      <roundcube:button command="save" type="input" class="button mainaction" label="save" />
    </div>
  </div>
</div>
<script type="text/javascript">rcube_init_tabs('folder-details > form')</script>

</body>
</html>
