<div role="tabpanel" class="tab-pane" id="tab-mailbox-defaults">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{ lang.mailbox.mailbox_defaults }}
    </div>
    <div class="panel-body help-block">
      {{ lang.mailbox.mailbox_defaults_info }}
    </div>
  </div>
</div>
