<div role="tabpanel" class="tab-pane fade" id="tab-mailbox-defaults" role="tabpanel" aria-labelledby="tab-mailbox-defaults">
  <div class="card">
    <div class="card-header">
      {{ lang.mailbox.mailbox_defaults }}
    </div>
    <div class="card-body text-muted">
      {{ lang.mailbox.mailbox_defaults_info }}
    </div>
  </div>
</div>
