table.footable>tbody>tr.footable-empty>td {
  font-size:15px !important;
  font-style:italic;
}
.pagination a {
  text-decoration: none !important;
}
.panel panel-default {
  overflow: visible !important;
}
.table-responsive {
  overflow: visible !important;
}
body {
  overflow-y:scroll;
}
/* Fix modal moving content left */
body.modal-open {
  overflow-y:scroll;
  padding-right: inherit !important;
}
.mass-actions-admin {
  user-select: none;
  padding:10px 0 10px 0;
}
