table.footable>tbody>tr.footable-empty>td {
  font-size:15px !important;
  font-style:italic;
}
.pagination a {
  text-decoration: none !important;
}
.panel panel-default {
  overflow: visible !important;
}
.table-responsive {
  overflow: visible !important;
}