@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url('../fonts/SourceSansPro-Light.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url('../fonts/SourceSansPro-Regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url('../fonts/SourceSansPro-Bold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 700;
  src: local('Source Sans Pro Bold Italic'), local('SourceSansPro-BoldIt'), url('../fonts/SourceSansPro-BoldIt.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
#maxmsgsize { min-width: 80px; }
#slider1 .slider-selection {
	background: #FFD700;
}
#slider1 .slider-track-high {
	background: #FF4500;
}
#slider1 .slider-track-low {
	background: #66CD00;
}
.striped:nth-child(odd) {
    background-color: #fff;
}
.striped:nth-child(even) {
    background-color: #fafafa;
	border:1px solid white;
}
.btn {
   text-transform: none;
}
.glyphicon-spin {
    font-size:12px;
    -webkit-animation: spin 2000ms infinite linear;
    animation: spin 2000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
pre{white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word;}
.footable-sortable {
	 -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}
/* Fix modal moving content left */
body.modal-open {
  overflow: inherit;
  padding-right: inherit !important;
}
body {
  font-size:11pt;
}
#mailcow-alert {
  position: fixed;
  bottom: 8px;
  right: 25px;
  min-width: 350px;
  max-width: 550px;
  z-index: 2000;
}
.input-group-sm .btn { margin-top: 0px !important }
legend {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none
  -o-user-select: none;
  user-select: none;
  font-size: 12pt;
}
.navbar .navbar-brand {
  padding-top: 5px;
}
.navbar .navbar-brand img {
  height: 40px;
}
.mailcow-logo img {
  max-width: 250px;
}
.lang-link-disabled a  {
	pointer-events: none;
}
.lang-link-disabled  {
	cursor: not-allowed;
}
.dkim-label {
  margin: 0 0 2px !important;
}
.overlay {
  background: #fff;
  position: absolute;
  z-index: 10000;
  top: 0; right: 0; bottom: 0; left: 0;
  opacity: 0.7;
}
nav .glyphicon {
  font-size: 12px !important;
}
.logged-in-as {
  border-left: 1px solid #E7E7E7;
}
#top {
  padding-top: 70px;
}
.bootstrap-select.btn-group .no-results {
  display: none;
}
.dropdown-desc {
  display: block;
  padding: 3px 10px;
  clear: both;
  font-weight: bold;
  color: #5a5a5a;
  white-space: nowrap;
}
.haveibeenpwned {
  cursor: pointer;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}
.full-width-select {
  width: 100%!important;  
}