table.footable>tbody>tr.footable-empty>td {
  font-size:15px !important;
  font-style:italic;
}
.pagination a {
  text-decoration: none !important;
}
.panel panel-default {
  overflow: visible !important;
}
.table-responsive {
  overflow: visible !important;
}
.footer-add-item {
  display:block;
  padding: 10px;
  background: #F5F5F5;
}
.mass-each-action {
  padding: 0 3px 0 3px;
  user-select: none;
}
.mass-actions {
  user-select: none;
  padding:10px;
}
.mass-select-all {
  cursor:pointer;
  color:#555;
}
#alias_table {
  cursor:pointer;
}
#alias_table .footable-paging {
  cursor:	auto;
}
@media (min-width: 992px) {
  .container {
      width: 80%;
  }
}