.panel-heading div {
	margin-top: -18px;
	font-size: 15px;
}
.panel-heading div span {
	margin-left:5px;
}
.panel-body {
	display: none;
}
.clickable {
	cursor: pointer;
}
.progress {
	margin-bottom: 0px;
}
.table>thead>tr>th {
  vertical-align: top !important;
}