<div role="tabpanel" class="tab-pane" id="tab-config-ldap-admins">
  <div class="panel panel-default">
    <div class="panel-heading">{{ lang.admin.admins_ldap }}</div>
    <div class="panel-body">
    </div>
  </div>
</div>
