<div role="tabpanel" class="tab-pane fade" id="tab-config-ldap-admins" role="tabpanel" aria-labelledby="tab-config-ldap-admins">
  <div class="card mb-4">
    <div class="card-header d-flex fs-5">
      <button class="btn d-md-none flex-grow-1 text-start" data-bs-target="#collapse-tab-config-ldap-admins" data-bs-toggle="collapse" aria-controls="ollapse-tab-config-ldap-admins">
        {{ lang.admin.admins_ldap }}
      </button>
      <span class="d-none d-md-block">{{ lang.admin.admins_ldap }}</span>
    </div>
    <div id="collapse-tab-config-ldap-admins" class="card-body collapse" data-bs-parent="#admin-content">
    </div>
  </div>
</div>
