<div role="tabpanel" class="tab-pane fade" id="tab-config-ldap-admins" role="tabpanel" aria-labelledby="tab-config-ldap-admins">
  <div class="card">
    <div class="card-header">{{ lang.admin.admins_ldap }}</div>
    <div class="card-body">
    </div>
  </div>
</div>
