body {
    background-color: #414141;
    color: #e0e0e0;
}

.card {
    border: 1px solid #1c1c1c;
    background-color: #3a3a3a;
}
legend {
    color: #f5f5f5;
}
.card-header {
    color: #bbb;
    background-color: #2c2c2c;
    border-color: transparent;
}
.btn-secondary, .paginate_button, .page-link, .btn-light {
    color: #fff !important;
    background-color: #7a7a7a !important;
    border-color: #5c5c5c !important;
}
.btn-check:checked+.btn-secondary, .btn-check:active+.btn-secondary, .btn-secondary:active, .btn-secondary.active, .show>.btn-secondary.dropdown-toggle {
    border-color: #7a7a7a !important;
}
.alert-secondary {
    color: #fff !important;
    background-color: #7a7a7a !important;
    border-color: #5c5c5c !important;
}
.bg-secondary {
    color: #fff !important;
    background-color: #7a7a7a !important;
}
.alert-secondary, .alert-secondary a, .alert-secondary .alert-link {
    color: #fff;
}
.page-item.active .page-link {
    background-color: #158cba !important;
    border-color: #127ba3 !important;
}
.btn-secondary:focus, .btn-secondary:hover, .btn-group.open .dropdown-toggle.btn-secondary {
    background-color: #7a7a7a;
    border-color: #5c5c5c !important;
    color: #fff;
}
.btn-secondary:disabled, .btn-secondary.disabled {
    border-color: #7a7a7a !important;
}
.modal-content {
    background-color: #414141;
}
.modal-header {
    border-bottom: 1px solid #161616;
}
.modal-title {
    color: white;
}
.modal .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%);
}
.navbar.bg-light {
    background-color: #222222 !important;
    border-color: #181818;
}
.nav-link {
    color: #ccc !important;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background: none;
}
.nav-tabs .nav-link:not(.disabled):hover, .nav-tabs .nav-link:not(.disabled):focus, .nav-tabs .nav-link.active {
    border-bottom-color: #414141;
}

.table, .table-striped>tbody>tr:nth-of-type(odd)>*, tbody tr {
    color: #ccc !important;
}

.dropdown-menu {
    background-color: #585858;
    border: 1px solid #333;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #fafafa;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:active, .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
    color: #fff;
}
.bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder.btn-secondary {
    color: #d4d4d4 !important;
}
tbody tr {
    color: #555;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #ccc;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #ccc;
}
.list-group-item {
    background-color: #333;
    border: 1px solid #555;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #333;
}
table.dataTable>tbody>tr.child ul.dtr-details>li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);
}
tbody tr {
    color: #ccc;
}
.label.label-last-login {
    color: #ccc !important;
    background-color: #555 !important;
}
.progress {
    background-color: #555;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #ccc;
}
div.numberedtextarea-number {
    color: #999;
}
.well {
    border: 1px solid #555;
    background-color: #333;
}
pre {
    color: #ccc;
    background-color: #333;
    border: 1px solid #555;
}
input.form-control, textarea.form-control {
    color: #e2e2e2 !important;
    background-color: #555 !important;
    border: 1px solid #999;
}
input.form-control:focus, textarea.form-control {
    background-color: #555 !important;
}
input.form-control:disabled, textarea.form-disabled {
    color: #a8a8a8 !important;
    background-color: #6e6e6e !important;
}
.input-group-addon {
    color: #ccc;
    background-color: #555 !important;
    border: 1px solid #999;
}
.input-group-text {
    color: #ccc;
    background-color: #242424;
}



.list-group-item {
    color: #ccc;
}
.dropdown-item {
    color: #ccc;
}
.dropdown-item:hover {
    color: #616161 !important;
}
.dropdown-item.active:hover {
    color: #fff !important;
    background-color: #31b1e4;
}
.form-select {
    color: #e2e2e2!important;
    background-color: #555!important;
    border: 1px solid #999;
}

.responsive-tabs .card-header button[data-bs-toggle="collapse"] {
    color: #c7c7c7;
}

.navbar-toggler {
    color: #fff !important;
}


.table-secondary {
    --bs-table-bg: #7a7a7a;
    --bs-table-striped-bg: #e4e4e4;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #d8d8d8;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #dedede;
    --bs-table-hover-color: #000;
    color: #000;
    border-color: #d8d8d8;
}

.table-light {
    --bs-table-bg: #f6f6f6;
    --bs-table-striped-bg: #eaeaea;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #dddddd;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #e4e4e4;
    --bs-table-hover-color: #000;
    color: #000;
    border-color: #dddddd;
}

.form-control-plaintext {
    color: #e0e0e0;
}


.breadcrumb {
    color: #fff !important;
    background-color: #7a7a7a !important;
    border-color: #5c5c5c !important;
}


a {
    color: #6fc7e9;
    text-decoration: underline;
}
a:hover {
    color: #3daedb;
}

.breadcrumb-item.active {
    color: #ccc;
}


.list-group-item.disabled, .list-group-item:disabled {
    color: #fff;
    background-color: #a8a8a8 !important;
    border-color: #a8a8a8;
}

.card.bg-light .card-title {
    color: #000 !important;
}

.card.bg-light .card-text {
    color: #000;
}




.accordion-item {
    background-color: #3a3a3a;
}
.accordion-button {
    color: #bbb;
    background-color: #2c2c2c;
}
.accordion-button:not(.collapsed) {
    color: #6fc7e9;
    background-color: #2c2c2c;
}
.accordion-button::after {
    background-image: none;
}
.accordion-button:not(.collapsed)::after {
    background-image: none;
}


.toast-header {
    background-color: #4c4c4c;
}
.toast-body {
    background-color: #626262;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff !important;
}

.tag-box {
    background-color: #555;
    border: 1px solid #999;
}
.tag-input {
    color: #fff;
    background-color: #555;
}
.tag-add {
    color: #ccc;
}
.tag-add:hover {
    color: #d1d1d1;
}


table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before:hover, 
table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before:hover {
  background-color: #7a7a7a !important;
}
table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before, 
table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
  background-color: #7a7a7a !important;
  border: 1.5px solid #5c5c5c !important;
  color: #fff !important;
}
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td.dtr-control:before, 
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th.dtr-control:before {
  background-color: #949494;
}
table.dataTable.dtr-inline.collapsed>tbody>tr>td.child, 
table.dataTable.dtr-inline.collapsed>tbody>tr>th.child, 
table.dataTable.dtr-inline.collapsed>tbody>tr>td.dataTables_empty {
  background-color: #444444;
}

.btn-check-label {
  color: #fff;
}
.btn-outline-secondary:hover {
    background-color: #c3c3c3;
}
.btn.btn-outline-secondary {
  color: #fff !important;
  border-color: #7a7a7a !important;  
}
.btn-check:checked+.btn-outline-secondary, .btn-check:active+.btn-outline-secondary, .btn-outline-secondary:active, .btn-outline-secondary.active, .btn-outline-secondary.dropdown-toggle.show {
    background-color: #9b9b9b !important;
}



.btn-input-missing,
.btn-input-missing:hover,
.btn-input-missing:active,
.btn-input-missing:focus,
.btn-input-missing:active:hover,
.btn-input-missing:active:focus {
  color: #fff !important;
  background-color: #ff2f24 !important;
  border-color: #e21207 !important;
}

.inputMissingAttr {
    border-color: #FF4136 !important;
}


.list-group-details {
    background: #444444;
}
.list-group-header {
    background: #333;
}

span.mail-address-item {
    background-color: #333;
    border-radius: 4px;
    border: 1px solid #555;
    padding: 2px 7px;
    display: inline-block;
    margin: 2px 6px 2px 0;
}
