<?php

// Driver - 'file' or 'sql'
$config['squirrelmail_driver'] = 'sql';

// full path to the squirrelmail data directory
$config['squirrelmail_data_dir'] = '';
$config['squirrelmail_data_dir_hash_level'] = 0;

// file charset - e.g. 'EUC-JP'. Leave empty for ASCII.
$config['squirrelmail_file_charset'] = '';

// 'mysql://dbuser:dbpass@localhost/database'
$config['squirrelmail_dsn'] = 'mysql://user:password@localhost/webmail';
$config['squirrelmail_db_charset'] = 'iso-8859-1';

$config['squirrelmail_address_table'] = 'address';
$config['squirrelmail_userprefs_table'] = 'userprefs';

// identities_level option value for squirrelmail plugin
// With this you can bypass/change identities_level checks
// for operations inside this plugin. See #1486773
$config['squirrelmail_identities_level'] = null;

// Set to false if you don't want the email address of the default identity
// (squirrelmail preference "email_address") to be saved as alias.
// Recommended: set to false if your squirrelmail config setting $edit_identity has been true.
$config['squirrelmail_set_alias'] = true;
